<app-diretivas-customizadas></app-diretivas-customizadas>
<h1>7. ngContent</h1>
<app-diretiva-ngcontent>
  <div class="ngc-head">Similar aos slots do Vue</div>
  <div class="ngc-body">
    Agora um component completo começa:
    <app-diretiva-elvis></app-diretiva-elvis>
    Finaliza acima.
  </div>
</app-diretiva-ngcontent>
<app-diretiva-ngfor></app-diretiva-ngfor>
<app-diretiva-ngif></app-diretiva-ngif>
<h1>1. Using external libraries like bootstrap or jQuery on node_modules</h1>
<button class="btn btn-primary" (click)="test()">I have a style from Bootstrap</button>
<p id="changeme">Change-me jquery, please!</p>
