<h3>{{ todoList.title }}<span class="spacer"></span><a (click)="editList(todoList.id || -1, todoList.title)">✏️</a><a (click)="removeList(todoList.id || -1)">🗑️</a></h3>

<!-- Adding item form -->
<label>
  Add item:
  <input
    autocomplete="off"
    type="text"
    id="name"
    #name
    [(ngModel)]="itemName"
  />
</label>
<button type="submit" (click)="addItem()">Add ToDo</button>

<!-- Rendering todoItems$ -->
<ul>
  <li *ngFor="let item of todoItems$ | async">
    {{ item.title }} <a (click)="editItem(item.id || -1, item.title)">✏️</a><a (click)="removeItem(item.id || -1)">🗑️</a>
  </li>
</ul>
