<h1>7. Output properties</h1>

<contador valor="10" (mudouValor)="onMudouValor($event)"></contador>

<h1>6. Input properties</h1>

<app-input-property [nome]="nomeDoCurso" curtidas="10"></app-input-property>

<h1>5. Two-way databinding</h1>

One way: <input type="text" [value]="name"><br>
Two way: <input type="text" #myinp [value]="name" (input)="name = myinp.value"><br>
Two way #2: <input type="text" [ngModel]="name" (ngModelChange)="name = $event"><br>
Two way #3: <input type="text" [(ngModel)]="name">
<p>Your name is {{ name }}</p>
<hr>
Nome: <input type="text" [(ngModel)]="people.name"><br>
Idade: <input type="text" [(ngModel)]="people.age"><br>
Rua: <input type="text" [(ngModel)]="people.address.street"><br>
Numero: <input type="text" [(ngModel)]="people.address.number"><br>

Meu nome é {{ people.name }}. Minha idade é {{ people.age }}.
Moro em {{ people.address.street }}, {{ people.address.number }}.
